/*--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- reset code --*/
body{
	padding:0;
	margin:0;
	background:#FFF;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.wall{
	margin:0;	
	padding:0;
}
ul{
	margin:0;
	padding:0;
}

/*-- navigation --*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
.navbar-default {
    background-color: rgba(0,0,0,0.5);
    border-color: transparent;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 30px;
    color: #fff;
    line-height: 20px;
}
.navbar-default .navbar-brand {
    color: #FFF;
}
.navbar-default .navbar-brand h1 {
	font-size:35px;
	line-height: 20px;
	font-family: 'Varela Round', sans-serif;
} 
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #FFFFFF;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #FFF;
	font-size: 18px;
    font-weight: 300;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	 color: #000;
    background-color:#fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover ,.navbar-default .navbar-nav>li>a.active  {
    color: #000;
    background-color:#fff;
}
/*-- /navigtion --*/
ul.social-icons2 li a i.fa.fa-facebook {
	background-color:#3b5998;
	width:40px;
	height:40px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:20px;
	color:#fff;
	line-height:40px;
	text-align: center;
    vertical-align: middle;	
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
ul.social-icons2 li a i.fa.fa-twitter {
	background-color:#55acee;
	width:40px;
	height:40px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:17px;
	color:#fff;
	line-height:40px;
	text-align: center;
    vertical-align: middle;
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
ul.social-icons2 li a i.fa.fa-linkedin {
	background-color:#e68523;
	width:40px;
	height:40px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:19px;
	color:#fff;
	line-height:40px;
	text-align: center;
    vertical-align: middle;
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
ul.social-icons2 li a i.fa.fa-google-plus {
	background-color:#dc4e41;
	width:40px;
	height:40px;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-o-border-radius:50%;
	-ms-border-radius:50%;
	font-size:16px;
	color:#fff;
	line-height:40px;
	text-align: center;
    vertical-align: middle;
	 transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
ul.social-icons2 li a i.fa.fa-facebook:hover {
	background-color:#002573;
}
ul.social-icons2 li a i.fa.fa-twitter:hover {
	background-color:#004A82;
}
ul.social-icons2 li a i.fa.fa-linkedin:hover { 
	background-color:#BB5E00;
}
ul.social-icons2 li a i.fa.fa-google-plus:hover { 
	background-color:#8A0B00;
}
input#name , input#phone,input#email , textarea#message {
	color:#000;
	border-radius: 0px;
	margin-bottom:10px;
	background-color: rgba(255, 255, 255, 0);
	font-size:17px;
	font-weight:normal;
	border:1px solid #000;
}
input#name , input#email  ,input#phone{
	height:55px;	
}
input::-webkit-input-placeholder {
color: #000 !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #000 !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #000 !important;  
}
 
input:-ms-input-placeholder {  
color: #000 !important;  
}
textarea::-webkit-input-placeholder {
color: #000 !important;
}
 
textarea::-moz-placeholder { /* Firefox 18- */
color: #000 !important;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color: #000 !important;  
}
 
textarea::-ms-input-placeholder {  
color: #000 !important;  
}
textarea#message {
	height:150px;
}

/*-- RESPONSIVE DESIGN --*/

@media (max-width: 1050px) {
}

@media (max-width: 991px) {
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -60px;
}
}

@media (max-width:900px) { 
ul.nav.navbar-nav.navbar-right {
    margin: 0 -35px 0 0;
}
}

@media (max-width: 800px) {
	.slider-container {
    height: 508px!important;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
}
.navbar-default .navbar-brand h1 {
    font-size: 30px;
}
ul.nav.navbar-nav.navbar-right {
    margin: 0 0px 0 0;
}
ul.nav.navbar-nav.navbar-right {
    margin: 0 -15px 0 0;
}
}



@media (max-width: 736px) {

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 20px;
}
ul.nav.navbar-nav.navbar-right {
    margin:0;
	text-align:center;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border-bottom: 1px solid #ddd;
    border-radius: 4px;
	color:#fff;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color:#E49B9B;
}
.nav-tabs.nav-justified>li>a {
    font-size: 18px;
}
.media-body {
    text-align: -webkit-auto;
}
}


@media (max-width: 640px) {
	ul.nav.navbar-nav.navbar-right {
		background-color:rgba(0,0,0,0.7);
	}
}


@media (max-width:384px) {
h2.page-header.text-center {
	font-size:30px;
}
}



@media (max-width:320px) {
.nav-tabs.nav-justified>li>a {
    font-size: 17px;
}

.tab-content>.tab-pane {
	padding:0 20px 30px;
}
textarea#message {
    height: 90px;
}
}
/*-- /RESPONSIVE DESIGN --*/